<div class="col-lg-12 px-2">
    <div class="text-muted pt-3">
        <p><input class="" type="text" id="searchbar" onkeyup="searchFunction()" placeholder="Search.."></p>
        <h6 class="border-bottom border-gray pb-2 mb-0">
            <span class="news-text">Ongoing</span>
            <span class="text-muted small float-end">
                <a href="/translate/add">Add translation</a>
            </span>
            <br>
        </h6>
        <ul class="list-group list-group-flush" id="table">

            <li class="list-group-item list-group-item-action p-2 disabled">
                <strong>
                    <div class="row">
                        <div class="col-md-1">Date</div>
                        <div class="col-md-1">Fandom</div>
                        <div class="col-md-4">Title</div>
                        <div class="col-md-3">Progress</div>
                        <div class="col-md-3">Translators</div>
                    </div>
                </strong>
            </li>

            {{range .Dto}}
            <li class="list-group-item list-group-item-action p-2 small searchable cursor-pointer" id="colli-{{.Id.Hex}}"
                data-bs-toggle="collapse" data-bs-target="#collapse-{{.Id.Hex}}" aria-expanded="false"
                aria-controls="collapse-{{.Id.Hex}}" onclick="watchInfo('{{.Id.Hex}}');">
                <div class="row">
                    <div class="col-md-1">{{.Date}}</div>
                    <div class="col-md-1">
                        <a href="/group/{{.Fandom}}">@{{.Fandom}}</a>
                    </div>
                    <div class="col-md-4">
                        <strong><a href="{{.Link}}">{{.Title}}</a></strong>
                        {{if .Views}}
                        <span class="badge bg-warning mt-1 float-right">Views: {{.Views}}</span>
                        {{end}}
                        {{if .Visible}}
                        <span class="badge bg-success mt-1 float-right">Visible</span>
                        {{else}}
                        <span class="badge bg-primary mt-1 float-right">Hidden</span>
                        {{end}}
                    </div>
                    <div class="col-md-3">
                        <div class="progress" style="height: 100%">
                            <div class="progress-bar bg-{{.Progress.Color}}" role="progressbar"
                                style="width: {{.Progress.Percentage}}%;" aria-valuenow="{{.Progress.Percentage}}"
                                aria-valuemin="0" aria-valuemax="100">{{.Progress.Percentage}}%</div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        {{range .Users}}
                        <a href="/user/{{.}}">@{{.}}</a>
                        {{end}}
                    </div>
                </div>
            </li>
            <li class="list-group-item border-dark list-group-item-action p-0 bg-light collapse" id="collapse-{{.Id.Hex}}">
                <div class="m-2 overflow-auto small row" id="translation-{{.Id.Hex}}"></div>
            </li>
            {{end}}

        </ul>
    </div>
</div>
<script src="lazyload.js"></script>
