canvas {
    border: 1px solid #40404040;
}

#dragbar {
    float: left;
    margin-left: 12px;
    width: 4px;
    border: 1.5px solid lightgray;
    border-top: 0px;
    border-bottom: 0px;
}
#dragbar:hover {
    cursor: e-resize;
}

#canvas-outside-wrapper {
    display: flex;
    padding-right: 0px !important;
}

#canvas-inside-wrapper {
    width: 100%;
    height: 100%;
}

#editor-canvas {
    width: 100%;
}

#edited-img {
    width: 100%
}

#edits-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.edits {
    cursor: grab;
    z-index: 0;
    position: absolute;
    width: 100%;
}
.edits:active, .edits:hover {
    cursor: pointer;
}
.edits.selected {
    opacity: 0.8;
    z-index: 1000;
    cursor: pointer;
}
.top {
    z-index: 1000;
}
